
.avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.card{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid blue;
    padding: 20px 15px;
    display:flex;
    align-items: center;
    gap: 20px;
    width: 400px;
    margin: 50px auto;
    border-radius: 8px;
    border-bottom:6px solid purple;
    background:lightblue;
    justify-content: center;
    text-align: center;
    color:black;
}
